/* RESET */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------- RESET -----------------*/

/* ---- FONT  */
@font-face {
  font-family: 'Zoombieland'; /*a name to be used later*/
  src: url('./Font/zoombieland.ttf'); /*URL to font*/
}
/* ------------------------------- */
body {
  background-color: rgb(0, 0, 0)
}



body #header {
  position: absolute;
  text-align: center;
  margin: 1%;
  font-size: 70px;
  font-family: 'Zoombieland' , sans-serif;
  font-weight: bol;
  background-color: rgb(0, 20, 14);
  width: 100%;
  height: 100%;
  text-align: center;
  
}
  #header h1 {
    margin: 5%;
    font-weight: 100;
    color: brown;
  }
  #header h2 {
    margin: 5%;
    font-weight: 100;
    font-size: 40px;
    color: rgb(187, 162, 162);
  }


  #startBtn {
    box-shadow: 4px -1px 19px -50px #f29c93;
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color:#fe1a00;
    border-radius:14px;
    border:4px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Courier New;
    font-size:22px;
    font-weight:bold;
    padding:21px 69px;
    text-decoration:none;
    text-shadow:0px 7px 0px #b23e35;
  }
  #startBtn:hover {
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color:#ce0100;
  }
  #startBtn:active {
    position:relative;
    top:1px;
  }

body #global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5% auto;
  max-width: 90%;
}
body .lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
body .parede {
  width: 44px;
  height: 44px;
  background-color: gray;
  background-image: url(./IMG/parede3.jpg);
  background-size: cover;
}

.caminho {
  height: 44px;
  width: 44px;
  background-color: rgb(6, 15, 6);;  
  
}

 #jogador {
   background-image: url(./IMG/idle.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;


}

#linha8coluna20 {
  background-image: url(./IMG/Morto.png);
  background-size: 100%;
  background-repeat: no-repeat;

}



body #gameOver {
  position: absolute;
  text-align: center;

  margin: 1%;
  margin-left: 10%;
  font-size: 70px;
  font-family: 'Zoombieland';
  font-weight: bol;
  background-color: rgb(0, 8, 6);
  width: 80%;
  height: 100%;
  text-align: center;
  display: none;
  
  background-image: url(./IMG/idle.png);
  background-size: 30%;
  background-repeat: no-repeat;
}  
  #gameOver h1 {
    margin: 1%;
    font-weight: 100;
    color: rgb(114, 9, 9);
  
  }



  #gameOverBtn {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #fe1a00 5%, #fe1a00 100%);
    background-color:#fe1a00;
    border-radius:5px;
    border:2px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Courier New;
    font-size:18px;
    font-weight:bold;
    padding:21px 47px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
  }
  #gameOverBtn:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
  }
  #gameOverBtn:active {
    position:relative;
    top:1px;
  }
  
          